* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 35px;
}

li {
  list-style-type: none;
}

.cats {
  font-family: 'Fira Sans';
  display: flex;
  flex-direction: column;
  width: 560px;
  position: relative;
}
.cats__cat {
  width: 100%;
  max-height: max-content;
  transition: max-height 0.2s ease-out;
}
.cats__cat .head {
  outline: 1px solid #dfe4ef;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  position: relative;
  cursor: pointer;
  padding: 15px 17px 16px 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16.2px;
  transition: 0.4s;
  display: flex;
  gap: 14px;
  align-items: center;
}
.cats__cat .head .circle {
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #d3d8df;
  border-radius: 50%;
}
.cats__cat .head .circle__check {
  position: relative;
  top: 6px;
  left: 7px;
  height: 6px;
  width: 6px;
  border-bottom: 2px solid #0066ff;
  border-right: 2px solid #0066ff;
  transform: rotate(45deg);
  transition: 0.3s;
}
.cats__cat .head .circle__check--active {
  rotate: -180deg;
}
.cats__cat .body {
  padding-left: 15px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.cats__cat .body .subcat {
  display: flex;
  justify-content: space-between;
  padding: 9px 17px 11px 15px;
  border: 1px solid #dfe4ef;
  font-size: 13px;
  line-height: 14.04px;
  font-weight: 400;
}

.dragged {
  box-shadow: 0px 3px 16px 0px rgba(0, 102, 255, 0.7);
  background-color: white;
  width: 100%;
  z-index: 5;
  opacity: 1;
}

.border-bottom {
  border-bottom: 4px solid #0066ff !important;
}

.border-top {
  border-top: 4px solid #0066ff !important;
}

.move {
  width: 8px;
  height: 15px;
  font-size: 15px;
  margin-left: auto;
}
.move:hover {
  cursor: grab;
}

.ghost {
  opacity: 0.7;
  height: 100%;
  pointer-events: none;
  position: static !important;
}
